<h1 align="center">Add a Restaurant</h1>

<div class="row">
  <%= form_for(@restaurant, :html => {class: "form-horizontal", role: "form"}) do |f| %>

    <%= render 'shared/errors', object: f.object %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :location %>
      <%= f.text_field :location, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :cuisine %>
      <%= f.select(:cuisine, options_for_select([['Chinese', 'Chinese'], ['Italian', 'Italian'],['BBQ / Grill', 'BBQ / Grill'],['Costa Rican', 'Costa Rican']]), {}, {class: "form-control"}) %>
    </div>

    <div class="form-group">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>