<li id="review-<%= review.id %>">
  <span><%= review.user.email %></span>
  <span><%= review.content %></span>
  <span><%= review.rating %></span>
  <small>Posted <%= time_ago_in_words(review.created_at) %> ago</small>
</li>